e<<<<<<< HEAD
background {
    width: 100%;
    height: 50%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -1; /* Ensure div tag stays behind content; -999 might work, too. */
}

.stretch {
    width:100%;
}

h1 {font-size: 20px;
    font-color: red;
    text-align: center;
    background-color: green;
    background-size: cover;
}
p {font-size: 10px;

}
.container {background-size: cover;
}

}
.jumbotron {background-color: grey;
}
<style>
   page-header {
     height: 130px;
     margin: 5px 5px 0 5px;
     border: #0
     border-radius: 15px;
     background: url(howthwalk.jpg);
   }

   img {
     background-size: 100%;
     max-height: 100%;

   }
   ul {
     padding: 10px;
     background: rgba(0,0,0,0.5);
   }
   li {
     display: inline;
     padding: 0px 10px 0px 10px;

   }


@media (max-width: 500px) {
      h1 {
        font-size: 36px;
      }
      li {
        display: block;
        padding: 5px;
      }
    }
=======
h2 {color: black; font-size: 30px; text-align: center; font-family: verdana; }
h3 {color: black; font-size: 22px; text-align: center; font-family:verdana }
img.resize {width: 25%; height: auto;}
div.par {text-align: center; font-family: verdana}
ul.right {text-align: right; font-family: verdana}
ul.left {text-align: left; font-family: verdana }
>>>>>>> 8ea4653750ee01a4c6a05858991a401d6093893e
